.hero.is-fullheight {
    min-height: calc(100vh - 3.25rem);
}

.hero.is-fullheight .hero-body {
    align-items: center;
    display: flex;
    flex-direction: column;
}

h1.title {
  font-family: 'Frank Ruhl Libre', serif;
}

.autocomplete-dropdown-container {
  text-align: left;
  border: 1px solid #eee;
  margin-top: -2px;
}


.suggestion-item, .suggestion-item--active {
  padding: 10px;
  font-weight: 500;
}

input.input.location-search-input {
    font-size: 1.5em;
    font-family: 'Quicksand', sans-serif;
}

.location-input-div {
  width: 600px;
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.clear-button, .clear-button:active, .clear-button:focus {
    position: absolute;
    margin-left: -34px;
    margin-top: 18px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    color: #ccc;
    cursor: pointer;
  }
