th.delete-column {
    width: 54px;
}

.delete-button {
  border: none;
}

th.app-column {
    width: 120px;
}

th.rented-column {
    width: 80px;
}

td.rented-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}
