
.navbar {
  border-bottom: 1px solid #f5f5f5;
  font-family: 'Quicksand', sans-serif;
  padding: 0 10px;
}

.nav-title {
  color: #343947;
  font-weight: 600;
}

a {
    color: #375c4f;
    cursor: pointer;
    text-decoration: none;
}

.nav-logo-item {
  padding-right: 0;
}

.modal-card, input {
  font-family: 'Quicksand', sans-serif;
}

.field:not(:last-child) {
    margin-bottom: 20px;
}

.sign-up-button, .login-button {
  width: 100%
}

.modal-card-foot > p{
  width: 100%;
}

@media screen and (min-width: 769px) {
  .modal-content, .modal-card {

      width: 460px;
  }
}
