.property {
  font-family: 'Quicksand', sans-serif;
}

.main-image {
width: 100%;
height: 60vh;
background-color: #9bc1b9;

display: flex;
flex-direction: row;
align-items: flex-start;
padding: 20px;

background-repeat: no-repeat !important;
background-size: cover !important;
background-position: 50% 50% !important;
}

.image-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.like-button {
  margin-left: 10px;
}

.buttons-right {
  margin-left: 10px;
}

.property-title {
  margin-bottom: 20px!important;
}

.property-container {
  max-width: 800px;
  text-align: left;
  padding-top: 20px;
}

img {
    object-fit: cover;
}

.property-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.button.is-primary {
    background-color: #5B897E;
    transition: background-color 0.5s ease;
}

.button.is-primary:hover {
    background-color: #537d68;
}

.button.is-primary:active {
    background-color: #476a59;
}

.property-overview {
  display: flex;
  flex-direction: row;

}

.property-attribute {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 10px;
}

.property-attribute:first-child {
  margin-left: 0px;
}

.description-box {
  margin-top: 30px;
}

.description-subtitle {
  margin-bottom: 10px!important;
  font-weight: 500;
}


.property-feature {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.feature-icon {
  padding-right: 10px;
  font-size: 2em;
  color: #9bc1b9;
}

.feature-text > h2.subtitle.is-6.description-subtitle {
  margin-bottom: 2px!important;
}

.is-liked {
  color: #f44336;
}

@media only screen and (max-width: 840px) {
  .container {
    margin: 0 20px;
  }
}
