.card  {
    cursor: pointer;
    min-width: 200px;
    min-height: 100px;
    background-color: white;
    border-radius: 3px;
}

.card-info {
  /* padding: 10px; */
}


.card-header-title {
  font-size: 1.25em;
  font-weight: 400;
}
