
.results-list {
  background-color: #ffffff;
}

h2.subtitle.is-4 {
  margin-bottom: 10px;
}

.table td, .table th {
    border-bottom: 1px solid #f5f5f5;
    padding: 0.85em 0.75em;
}

.table tr:hover {
  background-color: #f9f9f9;
  cursor: pointer;
}

td.list-image {
    padding: 0;
}

.filters {
  padding: 20px;
  width: 208px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  position: fixed;
  background-color: #ffffff;
  z-index: 0;
  height: calc(100vh - 53px);
  border-right: 1px solid #f5f5f5;
}

.results-column {
  z-index: 1;
}

.apply-filters {
  align-self: flex-end;
}

.results-title {
  font-size: 1.2em;
  font-weight: 500;
}

.results-column {
  z-index: 1;
  background-color: #ffffff;
}

.results-row {
  display: flex;
  justify-content: space-between;

}

.results-info {
  flex-grow: 2;
}

td.list-like {
  align-self: center;
}

.is-liked {
  color: #f44336;
}

.field {
    width: 100%;
}

.slider-output {
    display: flex;
}

.max {
  margin-left: 10px;
}
