
h2.subtitle.is-4 {
  margin-bottom: 10px;
}

.table td, .table th {
    border-bottom: 1px solid #f5f5f5;
    padding: 0.85em 0.75em;
}

.table tr:hover {
  background-color: #f9f9f9;
  cursor: pointer;
}

td.list-image {
    padding: 0;
}
